<!--
    This page asks user to confirm their old password. Once they confirm their old password, they can change their password
    Author: Scott Holmes
    SAIT, PROJ 207 - Threaded Project
    When: February 2022
-->

@model TravelExpertsData.Models.Customer

@{
    ViewData["Title"] = "Change Password";
}
<div class="container">
    <h1 id="PageTitle">Change Your Password</h1>

    <hr />
    <div class="row">
        <div class="col-sm-2">
            <div class="list-group">
                @foreach (String s in ViewBag.Filters)
                {
                    <a asp-controller="Profile" asp-action="Profile" asp-route-id="@s"
                       class="list-group-item list-group-item-action
                             @(ViewBag.SelectedFilter == s ? " active" : "" )">
                        @s
                    </a>
                }
            </div>
        </div>

        <div class="col-sm-10">
            <form asp-action="ConfirmPassword" method="post">
                <div class="form-group form-group form-inline">
                    <label asp-for="CustPassword" class="control-label col-md-2 justify-content-start">Old Password</label>
                    <input asp-for="CustPassword" class="form-control col-md-4" type="password" />
                    <span asp-validation-for="CustPassword" class="text-danger col-md-6"></span>
                </div>
                <div class="form-group form-group form-inline">
                    <label asp-for="ConfirmPassword" class="control-label col-md-2 justify-content-start">Confirm Old Password</label>
                    <input asp-for="ConfirmPassword" class="form-control col-md-4" type="password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger col-md-6"></span>
                </div>
                <div class="form-group form-group form-inline">
                    <input type="submit" value="Confirm" class="btn btn-primary px-4 mt-4" />
                </div>
                <input type="hidden" asp-for="@Model.CustomerId" />
            </form>
        </div>
    </div>
</div>