<!--
 * This web app creates a website of a fictional travel company called Travel Experts.
    The website allows users to learn about the company, see contact information,
    register a new user, a registered user can login/logout, update own data, see own
    packages' data
 * This is a view responsible for generating the user login page
 * Author: Marat Nikitin
 * SAIT, PROJ 207 - Threaded Project
 * When: February 2022
-->

@model TravelExpertsData.Models.Customer
@{
    ViewData["Title"] = "Login";
}

<!-- A feedback message to a user confirming successful registration (with green background) or wrong
    username-password combination (with red background) will be displayed here: -->

<form asp-action="Login" class="container text-center">
    <h1 class="text-primary mb-5">Login</h1>
    <div class="col-3 container text-center">

    <div><input type="text" asp-for="CustEmail" placeholder="Username"class="form-control mb-3 px-3" /></div>


    <div><input type="password" asp-for="CustPassword" placeholder="Password" class="form-control px-3" /></div>


    <input type="submit" value="Log In" class="btn btn-primary px-sm-4 mt-5 px-4" />

    </div>
</form>
