@{
    ViewData["Title"] = "Home Page";
}
<!--Package deals-->
<div id="deals" class="container">
    <h1 id="dealTitle">Package Deals and News</h1>
    <br />
    <p id="dealDesc">This can describe what package deals are avaliable or any news about new packages.</p>
</div>

<!--ads-->
<div class="container text-center" id="ads">
    <div class="row" id="packageAds">
        <!--Popular packages-->
        <div class="popularPackages">
            <img class="adImages" src="~/Resources/adPackageImg0.jpg" />
            <h2 id="adTitle">Most Popular Package</h2>
            <p id="adDesc">This can be the package that performs the best.</p>
        </div>

        <!--Seasonal packages-->
        <div class="popularPackages">
            <img class="adImages" src="~/Resources/adPackageImg1.jpg" />
            <h2 id="adTitle">Seasonal Package</h2>
            <p id="adDesc">This can be a seasonal package.</p>
        </div>

        <!--Limited time packages-->
        <div class="popularPackages">
            <img class="adImages" src="~/Resources/adPackageImg2.jpg" />
            <h2 id="adTitle">Limited Time Package</h2>
            <p id="adDesc">This can be a limited time package.</p>
        </div>
    </div>
</div>
