<!--
 * This web app creates a website of a fictional travel company called Travel Experts.
    The website allows users to learn about the company, see contact information,
    register a new user, a registered user can login/logout, update own data, see own
    packages' data
 * This is a view responsible for generating the Home Page
 * Author: Jacky Luong
 * SAIT, PROJ 207 - Threaded Project
 * When: February 2022
-->

@{
    ViewData["Title"] = "Home Page";
}
<!--Package deals-->
<div id="deals" class="container">
    <h1 id="dealTitle">Package Deals and News</h1>
    <br />
    <p id="dealDesc">This can describe what package deals are avaliable or any news about new packages.</p>
</div>

<!--ads-->
<div class="container text-center" id="ads">
    <div class="row" id="packageAds">
        <!--Popular packages-->
        <div class="popularPackages">
            <img class="adImages" src="~/Resources/adPackageImg0.jpg" />
            <h2 id="adTitle">Most Popular Packages</h2>
            <p id="adDesc">These can be packages that perform the best.</p>
        </div>

        <!--Seasonal packages-->
        <div class="popularPackages">
            <img class="adImages" src="~/Resources/adPackageImg1.jpg" />
            <h2 id="adTitle">Seasonal Packages</h2>
            <p id="adDesc">These can be seasonal packages.</p>
        </div>

        <!--Limited time packages-->
        <div class="popularPackages">
            <img class="adImages" src="~/Resources/adPackageImg2.jpg" />
            <h2 id="adTitle">Exclusive Packages</h2>
            <p id="adDesc">These can be exclusive packages.</p>
        </div>
    </div>
</div>
